---
import { lowerHumanize, upperHumanize } from "@lib/textConverter";
import { FaHashtag } from "react-icons/fa";
import Button from "@components/common/Button.astro";
import { ScrollArea } from "@components/common/shortcodes/ScrollArea";

interface Props {
  tags: string[];
}

const { tags }: Props = Astro.props;
---

<ScrollArea className="h-full" client:only="react">
  <!-- tags -->
  <div class="glass rounded-lg p-4 m-2 intersect:animate-fadeLeft opacity-0">
    <div>
      <h4 class="mb-2">
        <a href="/videos/tags">
          <FaHashtag className={"mr-1 -mt-1.5 inline-block"} />
           Tags
        </a>
      </h4>
      <hr class="mb-2 -mt-1" />
      <ul class="space-y-2">
        {
          tags.map((tag) => (
            <li>
              <a
                class=""
                href={`/videos/tags/${tag}`}
              >
                {upperHumanize(tag)}
              </a>
            </li>
          ))
        }
      </ul>
    </div>
  </div>
</ScrollArea>