/* Fonts */

/* Inter Regular */
@font-face {
  font-display: block;
  font-family: "Inter";
  font-style: normal;
  font-weight: normal;
  src: url("/fonts/inter/Inter-Regular.woff2") format("woff2");
}

/* Inter Bold */
@font-face {
  font-display: block;
  font-family: "Inter";
  font-style: normal;
  font-weight: bold;
  src: url("/fonts/inter/Inter-Bold.woff2") format("woff2");
}

/* Noto Sans 400 */
@font-face {
  font-display: block;
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/noto-sans/noto-sans-400.woff2") format("woff2");
}

/* Noto Sans 600 */
@font-face {
  font-display: block;
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 600;
  src: url("/fonts/noto-sans/noto-sans-600.woff2") format("woff2");
}
